.animationplayer{
  
    animation: animationPlayer 6s infinite;

}

@keyframes animationPlayer {
    0%   { margin-left:0px; margin-top:0px;}
    50%  { margin-left:0px; margin-top:40px;}
    100% { margin-left:0px; margin-top:0px;}
  
  
  }